<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="defaultScale" value="6"></add>
		<add key="defaultSpeed" value="2"></add>
		<add key="topFramesPerSpriteAnimation" value="7"></add>
		<add key="areaRatPadding" value="50"/>
		<add key="perspective" value="1"/>
	</appSettings>
</configuration>