<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="RatStates" type="RatPet, RatStates" allowLocation="false" />
	</configSections>
	<appSettings>
		<add key="defaultScale" value="7"></add>
		<add key="uiScale" value="3"></add>
		<add key="defaultSpeed" value="2"></add>
		<add key="fallingSpeed" value="3"/>
		<add key="collisionCheeseReduceFactorY" value="4,8"></add>
		<add key="collisionCheeseReduceFactorX" value="2,1"></add>
		<add key="topFramesPerSpriteAnimation" value="7"></add>
		<add key="mediaFramesPerNewCheese" value="1000"></add>
		<add key="areaRatPaddingTop" value="75"/>
		<add key="areaRatPaddingRight" value="1"/>
		<add key="areaRatPaddingLeft" value="1"/>
		<add key="areaRatPaddingBottom" value="120"/>
		<add key="scorePaddingTop" value="15"/>
		<add key="scorePaddingRight" value="10"/>
		<add key="tinyCheesePaddingLeft" value="17"/>
		<add key="scoreCheeseTextPaddingRight" value="12"/>
		<add key="scoreCheeseTextPaddingTop" value="8"/>
		<add key="perspective" value="true"/>
		<add key="boxBorders" value="false"/>
		<add key="statesFileName" value="RatPet.States.xml"/>
	</appSettings>
</configuration>