<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="RatStates" type="Project1, RatStates" allowLocation="false" />
	</configSections>
	<appSettings>
		<add key="defaultScale" value="6"></add>
		<add key="defaultSpeed" value="2"></add>
		<add key="fallingSpeed" value="3"/>
		<add key="collisionCheeseReduceFactorY" value="4,8"></add>
		<add key="collisionCheeseReduceFactorX" value="2,1"></add>
		<add key="topFramesPerSpriteAnimation" value="7"></add>
		<add key="areaRatPadding" value="50"/>
		<add key="perspective" value="1"/>
		<add key="statesFileName" value="Project1.States.xml"/>
	</appSettings>
</configuration>